<nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/">ERİS BLOG</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/about">Hakkımızda</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/articles">Makaleler</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">

          {% if session["logged_in"] %}
            <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Kontrol Paneli</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Çıkış Yap</a>
          </li>
          {% else %}
            <li class="nav-item active">
            <a class="nav-link" href="/login">Giriş Yap</a>
          </li>
            <li class="nav-item active">
            <a class="nav-link" href="/register">Kayıt ol</a>
          </li>
          {% endif %}

        </ul>
      </div>
    </nav>